<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title> Salon de belleza - Real Dinastia </title>
	<meta name="description" content="Salon de belleza, Caribe Plaza">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="icon" href="./assets/favicon_io/favicon.ico" sizes="any">
	<link rel="apple-touch-icon" href="./assets/favicon_io/apple-touch-icon.png">
	<link rel="manifest" href="./manifest.json">

	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<link href="./assets/style/index.css" rel="stylesheet" type="text/css">
	<% preact.headEnd %>
</head>

<body>
	<% preact.bodyEnd %>
</body>

</html>